{% extends "base.html" %}

{% block title %} GitLib {% endblock %}

{% block content %}
    <div class="container">
        <div class="title">
            <h2>Welcome to GitLib! A Web app to search github libs.</h2>
            <p>What language do you want to search?</p>
            <form class="form-inline" method="POST" action="{{ url_for('index') }}" autocomplete="off">
                <div class="row" style="margin: auto;">
                    <input class="form-control" type="text" name="search" placeholder="Search" required>
                    <button class="form-control btn btn-outline-success btn-rounded btn-sm" type="submit">Search</button>
                </div>
            </form>
        </div>
        <hr>
        <h4 style="text-align: center;">We're sorry, but your research did not find anything. Please, try again!</h4>
    </div>
{% endblock %}