{% extends "base.html" %}

{% block title %} GitLib {% endblock %}

{% block content %}
    <div class="container">
        <div class="title">
            <h2>Welcome to GitLib! A Web app to search github libs.</h2>
            <p>What language do you want to search?</p>
            <form class="form-inline offset-5" method="POST" action="{{ url_for('index') }}" autocomplete="off">
                <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search">
                <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Search</button>
            </form>
        </div>
        <hr>
        <h4 style="text-align: center;">We're sorry, but your research did not find anything. Please, try again!</h4>
    </div>
{% endblock %}